.batch-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.batch-box {
  padding: 20px;
  max-width: 300px;
  max-height: 300px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 5);
}

.batch-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

.time-table {
  width: 70vw;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}